/* shared style */
.primary-btn {
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
} 
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    background-color: #F5F8FF;
}

/* nav style */
header {
    background-image: url(../Assets/Hero-bg.png);
    padding-bottom: 10px;
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 160px;
}
nav h2 {
    font-weight: black;
    font-size: 34px;
    color: #4E47FF;
}


 /* banner style */
 .banner {
    margin: 150px 267px;
    text-align: center;
 }
 .banner h1 {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
 }

 /* main style */
 main {
    margin: 116px 160px 116px 140px ;
 }
 .first-article{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
 }
 .first-article-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
    color: #252432;
 }
 .first-article-description{
    font-size: 24px;
    line-height: 30px;
    color: #2524327f;
 }
 .first-article-container{
    padding-right: 20px;
    margin-bottom: 80px;
 }
 .photo img{
    border-radius: 48px;
 }
  /* 2nd section */
.box-ola {
    background-color: #4d47ff18;
    border-radius: 24px;
    padding: 50px 80px;
 }
 .box-ola h4 {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    color: #252432;
    margin-top: 5px;
    margin-bottom: 0;
}
.box-model{
    display: flex;
    justify-content: space-around;
}
.box h3{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
    margin-top: 50px;
}
.box p {
    font-size: 20px;
    color: #00000077;
    margin-top: 0;
    margin-bottom: 10px;
}

  /* section 3 card  */
.card-section {
   margin-top: 137px;
   margin-bottom: 137px;
}
.card-title {
   font-weight: bold;
   font-size: 42px;
   color: #252432;
   text-align: center;
   margin-bottom: 50px;
  }
.card-container{
   display: flex;
   justify-content: space-around;
   gap: 20px;
 }
 .card {
   padding: 20px;
   background-color: #ffffffd4;
   border-radius: 14px;
 }
.card-heading {
   font-weight: bold;
   font-size: 28px;
   color: #252432e2;
   margin-top: 24px;
   margin-bottom: 0;
}
.card-description {
   font-size: 18px;
   font-weight: 450;
   margin-top: 15px;
   margin-bottom: 0;
} 
.card .reviewer img {
   border-radius: 50%;
   height: 50px;
   margin-top: 20px;
}
.reviewer {
   display: flex;
   gap: 12px;
   align-items: center;
   margin-top: 0;
}
.reviewer-name {
   font-weight: 600;
   font-size: 20px;
   color: #252432c6;
   margin-bottom: 5px;
}
.date {
   color: #25243277;
   font-size: 20px;
   margin-top: 0;
}
